.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding: 30px 0;
    border-radius: 5px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); 
     background-color: #f9f9f9; */
    

}


.head-text{
    font: 1.5em sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;  
}
.head-text span{
    color: red;
}

.search-inputs form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 10px;
   
}
.search-box{
    width: 280px;
    height: 45px;
    border: 3px solid rgb(221, 58, 58);
    border-radius: 10px;
    padding: 5px;
    outline: none;
    font: 1em sans-serif;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}


.btn{
    background-color: rgb(221, 58, 58);
    color: white;
    width: 80px;
    height: 45px;
    font-size: 17px;
    font-weight: 700;
    border: none; 
    /* background: transparent; */
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.btn:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}



