.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    padding: 30px 0;
    border-radius: 5px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); 
     background-color: #f9f9f9; */
    

}


.head-text{
    font: 2em sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;  
}
.head-text span{
    color: red;
}

.search-inputs form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 10px;
   
}
.search-box{
    width: 300px;
    height: 45px;
    border: 3px solid rgb(221, 58, 58);
    border-radius: 10px;
    padding: 5px;
    outline: none;
    font: 1em sans-serif;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}


.btn{
    background-color: rgb(221, 58, 58);
    color: white;
    width: 150px;
    height: 45px;
    font-size: 17px;
    font-weight: 700;
    border: none; 
    /* background: transparent; */
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    
}

.btn:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}


/* // Responsive for Search Page  */

@media screen and (max-width: 768px){
    .search-container{
        height: 200px;
    }
   
    .head-text{
        font-size: 1.5rem;
    }

    
    .search-box{
        width: 220px;
        height: 40px;
    }
    .btn{
        width: 100px;
        height: 40px;
        font-size: 15px;
    }

    .search-inputs{
        column-gap: 10px;
        
    }

    
}

/* // Responsive for Search Page 400px */

@media screen and (max-width: 400px){
    .search-container{
        height: 250px;
        margin-bottom: 20px;
        
    }
   
    .head-text{

        font-size: 1.7rem;
    }

    
    .search-box{
        width: 250px;
        height: 35px;
    }
    .btn{
        width: 150px;
        height: 35px;
        font-size: 15px;
        
    }

    .search-inputs{
       flex-direction: column;
         row-gap: 10px;
        
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    
}

