.home{
    width: 100%;
    height: 91.4vh;    
    position: relative;
    overflow: hidden;

    
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  

}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


.hero-heading{
    font-size: 2rem;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.hero-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(185, 184, 184, 0.5);
    cursor: pointer;
    border: 2px solid white
}

.hero-btn:hover{
    background-color: #fff;
    color: red;
    transition: 0.5s;
}


/* // Responsive for Home Page */

@media screen and (max-width: 768px){

    .hero-heading{
        font-size: 1.5rem;
    }
    .hero-btn{
        padding: 5px 15px;
    }

    .hero-content{
        width: 80%;

    }

    .hero-btn{
        display: block;
        margin: 20px auto;

    }

    .hero-btn:hover{
        background-color: red;
        color: #fff;
    }

    .hero-btn:hover{
        background-color: #fff;
        color: red;
        transition: 0.5s;
    }



}

/* // Responsive for Home Page */



