.navbar{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    height: 10vh;
    text-decoration: none;
    /* z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s; */
}

.logo-section{
    border: 3px solid red;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;

}


.logo-section h1{
    font-size: 1.2rem;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    
}

/* // Responsive for Navbar  */









    

 