.card{  /* border: 2px solid red; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}



.card-img{  
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 10px;
}

.card-body{
    text-align: center;
    padding: 10px 0px;
}

.card-title{
    padding-bottom: 10px;
    font-size: 19px;
}

.card-publisher-name{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}
 
.card-btns{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 10px;
}

.card-btn{
    border-radius: 5px;
    background-color: #ff4d4d;
    width: 120px;
    height: 30px;
    border: none;
    
}

.card-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.card-btn:hover{
    background-color: red;
}