.container{
    margin-top:  40px;
    padding: 50px 50px;
    border: 2px solid red;
    height: auto;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.head-search-text{
    text-align: center;
}

.search-word{
    color: red;
    font-weight: 700;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 20px;
    

}