.container{
    /* margin-top: 20px; */
    padding: 10px 100px;
    height: auto;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);/ */
}

.head-search-text{
    font-size: 1.5rem;
}

.search-word{
    color: red;
    font-weight: 700;
    font-size: 1.5rem;
}

.cards{
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 20px;
    /* border: 2px solid red; */
    
}